@import '../../styles/utils';

.home-btn {
  margin-top: 20px;
  background-color: $theme-color-0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 200px;
  color: white;
  height: 40px;
  border: 2px solid $theme-color-1;
  border-radius: 18px;
  transition: transform 0.1s;

  &:hover {
    background-color: $theme-color-1;
    border: 2px solid $theme-color-0;
    transform: scale(1.1);
  }
}
