@import '~open-color/open-color';

$theme-color-0: #c3aeff;
$theme-color-1: #AD97EC;
$theme-color-2: #9A83DE;
$theme-color-3: #8972CE;
$theme-color-4: #c2c2c2;
$theme-color-5: #e0e0e0;
$theme-color-6: #f2f2f2;
$theme-color-7: #ffffff;

.no-drag {
  flex: 1;
  word-break: break-all;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
