.login-form {
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  background: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding-top: 3rem;
  padding-bottom: 10rem;
  text-align: center;
}

.login-title {
  margin: 60px;
}