@import '../../../styles/utils';

.header-profile {
  float: right;

  &:hover {
    cursor: pointer;
  }

  .profile-icon {
    width: 36px;
    height: 36px;
    margin: 6px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    max-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 10px;
    border-radius: 5px;
  }

  .show {
    display: block;
  }
}
