@import '../../../styles/utils';

.register-input {
  display: block;
  margin: auto auto 15px;
  width: 300px;
  height: 40px;
  font-size: 17px;
  border: solid 2px $theme-color-0;
  border-radius: 7px;
  padding-left: 5px;
  padding-right: 5px;
}